<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://scontent.fbkk29-6.fna.fbcdn.net/v/t39.30808-6/349582258_960871971701013_1841381538396674099_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEyPvgJw3HMNEWRFhNr0BjctnWXUnQLRy-2dZdSdAtHL8g-BCKEOuNdh9HPKgJu7d_SoCycQDa6XQCMJ4P4yKwr&_nc_ohc=E8yqsdZHj-MAX-qCjLN&_nc_ht=scontent.fbkk29-6.fna&oh=00_AfAuxLAMGyPqbZxzj9VUM1BdgraWaxrbWjXVZOpfM1QZxg&oe=647606E4" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://scontent.fbkk29-6.fna.fbcdn.net/v/t39.30808-6/349582258_960871971701013_1841381538396674099_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEyPvgJw3HMNEWRFhNr0BjctnWXUnQLRy-2dZdSdAtHL8g-BCKEOuNdh9HPKgJu7d_SoCycQDa6XQCMJ4P4yKwr&_nc_ohc=E8yqsdZHj-MAX-qCjLN&_nc_ht=scontent.fbkk29-6.fna&oh=00_AfAuxLAMGyPqbZxzj9VUM1BdgraWaxrbWjXVZOpfM1QZxg&oe=647606E4" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://scontent.fbkk29-6.fna.fbcdn.net/v/t39.30808-6/349582258_960871971701013_1841381538396674099_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEyPvgJw3HMNEWRFhNr0BjctnWXUnQLRy-2dZdSdAtHL8g-BCKEOuNdh9HPKgJu7d_SoCycQDa6XQCMJ4P4yKwr&_nc_ohc=E8yqsdZHj-MAX-qCjLN&_nc_ht=scontent.fbkk29-6.fna&oh=00_AfAuxLAMGyPqbZxzj9VUM1BdgraWaxrbWjXVZOpfM1QZxg&oe=647606E4" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>