<div class="text-center p-3 text-white" style="background-color: rgb(40, 40, 40);">
    ลิขสิทธิ์ &copy;
    <script>document.write(new Date().getFullYear())</script>
    <a class="text-white" href="https://mdbootstrap.com/">DevKids - นักเขียนโปรแกรมตัวจิ๋ว</a> สงวนสิทธิ์ทุกประการ
</div>